# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:ArcherBarbarian=false
    B:ArcherPirate=false
    B:Barbarian=false
    B:"Battletower Golem"=false
    B:Blaze=false
    B:CaveSpider=true
    B:ChiefBarbarian=false
    B:ChiefPirate=false
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Pirate=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:barako=false
    B:barakoan_barakoana=false
    B:barakoan_player=false
    B:barakoana=false
    B:barakoaya=false
    B:cyclops=false
    B:divinerpg.acid_hag=false
    B:divinerpg.advanced_cori=false
    B:divinerpg.alicanto=false
    B:divinerpg.ancient_entity=false
    B:divinerpg.angry_bunny=false
    B:divinerpg.apalachia_cadillion=false
    B:divinerpg.apalachia_golem=false
    B:divinerpg.apalachia_tomo=false
    B:divinerpg.arid_warrior=false
    B:divinerpg.ayeraco_blue=false
    B:divinerpg.ayeraco_green=false
    B:divinerpg.ayeraco_purple=false
    B:divinerpg.ayeraco_red=false
    B:divinerpg.ayeraco_yellow=false
    B:divinerpg.basilisk=false
    B:divinerpg.behemoth=false
    B:divinerpg.biphron=false
    B:divinerpg.bohemite=false
    B:divinerpg.cave_crawler=false
    B:divinerpg.caveclops=false
    B:divinerpg.crab=false
    B:divinerpg.crypt_keeper=false
    B:divinerpg.cyclops=false
    B:divinerpg.cymesoid=false
    B:divinerpg.death_hound=false
    B:divinerpg.deathcryx=false
    B:divinerpg.demon_of_darkness=false
    B:divinerpg.densos=false
    B:divinerpg.desert_crawler=false
    B:divinerpg.dissiment=false
    B:divinerpg.dramix=false
    B:divinerpg.dreamwrecker=false
    B:divinerpg.dungeon_constructor=false
    B:divinerpg.dungeon_demon=false
    B:divinerpg.dungeon_prisoner=false
    B:divinerpg.duo=false
    B:divinerpg.eden_cadillion=false
    B:divinerpg.eden_tomo=false
    B:divinerpg.enchanted_archer=false
    B:divinerpg.enchanted_warrior=false
    B:divinerpg.ender_spider=false
    B:divinerpg.ender_triplets=false
    B:divinerpg.ender_watcher=false
    B:divinerpg.ent=false
    B:divinerpg.enthralled_dramcryx=false
    B:divinerpg.epiphite=false
    B:divinerpg.eternal_archer=false
    B:divinerpg.experienced_cori=false
    B:divinerpg.fake_vhraak=false
    B:divinerpg.fractite=false
    B:divinerpg.frost=false
    B:divinerpg.frost_archer=false
    B:divinerpg.frosty=false
    B:divinerpg.galroid=false
    B:divinerpg.glacide=false
    B:divinerpg.glacon=false
    B:divinerpg.gorgosion=false
    B:divinerpg.greenfeet=false
    B:divinerpg.hastreus=false
    B:divinerpg.helio=false
    B:divinerpg.hell_spider=false
    B:divinerpg.hive_queen=false
    B:divinerpg.hive_soldier=false
    B:divinerpg.hover_stinger=false
    B:divinerpg.jungle_bat=false
    B:divinerpg.jungle_dramcryx=false
    B:divinerpg.jungle_spider=false
    B:divinerpg.karos=false
    B:divinerpg.karot=false
    B:divinerpg.kazrotic=false
    B:divinerpg.king_crab=false
    B:divinerpg.king_of_scorchers=false
    B:divinerpg.kobblin=false
    B:divinerpg.lady_luna=false
    B:divinerpg.lheiva=false
    B:divinerpg.liopleurodon=false
    B:divinerpg.living_statue=false
    B:divinerpg.lorga=false
    B:divinerpg.lorga_flight=false
    B:divinerpg.madivel=false
    B:divinerpg.mage=false
    B:divinerpg.mandragora=false
    B:divinerpg.megalith=false
    B:divinerpg.miner=false
    B:divinerpg.mortum_cadillion=false
    B:divinerpg.mysterious_man_layer_1=false
    B:divinerpg.mysterious_man_layer_2=false
    B:divinerpg.mysterious_man_layer_3=false
    B:divinerpg.mystic=false
    B:divinerpg.parasecta=false
    B:divinerpg.pumpkin_spider=false
    B:divinerpg.quadro=false
    B:divinerpg.raglok=false
    B:divinerpg.rainbour=false
    B:divinerpg.razorback=false
    B:divinerpg.reyvor=false
    B:divinerpg.roamer=false
    B:divinerpg.rollum=false
    B:divinerpg.rotatick=false
    B:divinerpg.saguaro_worm=false
    B:divinerpg.samek=false
    B:divinerpg.scorcher=false
    B:divinerpg.shadahier=false
    B:divinerpg.shark=false
    B:divinerpg.skythern_archer=false
    B:divinerpg.skythern_fiend=false
    B:divinerpg.skythern_golem=false
    B:divinerpg.sorcerer=false
    B:divinerpg.soul_fiend=false
    B:divinerpg.soul_spider=false
    B:divinerpg.soul_stealer=false
    B:divinerpg.spellbinder=false
    B:divinerpg.sun_archer=false
    B:divinerpg.sunstorm=false
    B:divinerpg.temple_guardian=false
    B:divinerpg.termasect=false
    B:divinerpg.termid=false
    B:divinerpg.the_eye=false
    B:divinerpg.the_grue=false
    B:divinerpg.the_watcher=false
    B:divinerpg.tocaxin=false
    B:divinerpg.twilight_archer=false
    B:divinerpg.twilight_demon=false
    B:divinerpg.twins=false
    B:divinerpg.vamacheron=false
    B:divinerpg.verek=false
    B:divinerpg.vermenous=false
    B:divinerpg.vhraak=false
    B:divinerpg.weak_cori=false
    B:divinerpg.whale=false
    B:divinerpg.wildfire=false
    B:divinerpg.wildwood_cadillion=false
    B:divinerpg.wildwood_golem=false
    B:divinerpg.wildwood_tomo=false
    B:divinerpg.wreck=false
    B:divinerpg.zone=false
    B:divinerpg.zoragon=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:erebus.antlion=false
    B:erebus.antlion_boss=false
    B:erebus.antlion_mini_boss=false
    B:erebus.bed_bug=false
    B:erebus.black_widow=false
    B:erebus.bog_maw=false
    B:erebus.bombardier_beetle=false
    B:erebus.bombardier_beetle_larva=false
    B:erebus.bot_fly=false
    B:erebus.bot_fly_larva=false
    B:erebus.centipede=false
    B:erebus.chameleon_tick=false
    B:erebus.crushroom=false
    B:erebus.dragon_fly=false
    B:erebus.fire_ant=false
    B:erebus.fire_ant_soldier=false
    B:erebus.jumping_spider=true
    B:erebus.lava_web_spider=false
    B:erebus.locust=false
    B:erebus.magma_crawler=false
    B:erebus.midge_swarm=false
    B:erebus.money_spider=false
    B:erebus.mosquito=false
    B:erebus.pond_skater=false
    B:erebus.praying_mantis=false
    B:erebus.punchroom=false
    B:erebus.scorpion=false
    B:erebus.scytodes=false
    B:erebus.solifuge=false
    B:erebus.solifuge_small=false
    B:erebus.tarantula=false
    B:erebus.tarantula_baby=false
    B:erebus.tarantula_mini_boss=false
    B:erebus.umber_golem_idol=false
    B:erebus.velvet_worm=false
    B:erebus.wasp=false
    B:erebus.zombie_ant=false
    B:erebus.zombie_ant_soldier=false
    B:ferrous_wroughtnaut=false
    B:foliaath=false
    B:frostmaw=false
    B:gorgon=false
    B:grottol=false
    B:if_hydra=false
    B:if_troll=false
    B:mod_lavacow.amberlord=false
    B:mod_lavacow.avaton=false
    B:mod_lavacow.banshee=false
    B:mod_lavacow.boneworm=false
    B:mod_lavacow.cactyrant=false
    B:mod_lavacow.foglet=false
    B:mod_lavacow.forsaken=true
    B:mod_lavacow.grave_robber=false
    B:mod_lavacow.grave_robber_ghost=false
    B:mod_lavacow.imp=false
    B:mod_lavacow.isnachi=false
    B:mod_lavacow.ithaqua=false
    B:mod_lavacow.pingu=false
    B:mod_lavacow.piranha=false
    B:mod_lavacow.sea_hag=false
    B:mod_lavacow.skeletonking=false
    B:mod_lavacow.sludgelord=false
    B:mod_lavacow.soulworm=false
    B:mod_lavacow.undeadswine=false
    B:mod_lavacow.undertaker=false
    B:mod_lavacow.wraith=false
    B:mod_lavacow.zombiepiranha=false
    B:mutantbeasts.endersoul_clone=false
    B:mutantbeasts.mutant_creeper=false
    B:mutantbeasts.mutant_enderman=false
    B:mutantbeasts.mutant_skeleton=false
    B:mutantbeasts.mutant_zombie=false
    B:naga=false
    B:"netherex:brute"=false
    B:"netherex:coolmar_spider"=true
    B:"netherex:ember"=false
    B:"netherex:frost"=false
    B:"netherex:ghast_queen"=false
    B:"netherex:ghastling"=false
    B:"netherex:mogus"=false
    B:"netherex:nethermite"=false
    B:"netherex:salamander"=false
    B:"netherex:spinout"=false
    B:"netherex:spore"=false
    B:"netherex:spore_creeper"=false
    B:"netherex:wight"=false
    B:piglin=false
    B:piglin_brute=false
    B:piglin_zombie=false
    B:siren=false
    B:stymphalianbird=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=true
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=true
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=true
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.rising_zombie=true
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=true
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=true
    B:twilightforest.tower_broodling=true
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:wasp=false
}


